/* #selected_objects_card {
  display: grid;
 
  align-items: right;
 
  width: max-content;
  height: auto;
  border: .5px solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
  
} */