#selected_objects_card {
  display: grid;
  grid-column-end: -1;
  align-items: right;
  padding-top: .5em;
  height: auto;
  width: 18em;
  border: 1px solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
}